@charset "UTF-8";
/* CSS Document */


html {
	/*background: rgb(134,180,41);*/
   background: url("background.jpg");/* repeat 0 0 #F8E088;*/
   background-attachment: fixed;
    font-size: 100.01%;
}
body {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: small;
    letter-spacing: 0.01em;
    margin: 17px 0 15px;
    text-align: center;
}

#header{
	margin: 10px 30px 0 40px;
	background: url("header.jpg");
}

body{font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:20px; padding:0;}

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}

a:link, a:visited{color:#0033CC;}
a:hover{text-decoration:none;}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */



#container{width:900px; margin:0 auto;}
#topbar{width:auto; display:block; height:300px;background: url("header.jpg");}
#navbar{width:auto; display:block; height:30px;}
#navbar a{heigth:28px; line-height:28px; padding:0 8px; display:inline;}



#main{
	width:auto;
	display:block;
	padding:10px 0;
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	background-color:#093/* rgb(134,180,41)*/
	color: white;
	border-color: #FFF;
}



#column_left{width:278px; height:300px; margin-right:10px; float:left;
border-color: white;
border-width:1px;
border-style:solid;
color: white;
}


#column_right{width:298px; height:300px; margin-right:10px; float:left;
/*background:gray;*/
border-color:#FFF;
border-width:1px;
border-style:solid;
color: white;
}

#column_right_most{width:298px; height:300px; float:left;
/*background:gray;*/
border-color: white;
border-width:1px;
border-style:solid;
color: white;

}

/* hover effects */
#column_left:hover{background-color:#093;}
#column_right:hover{background-color:#093;}
#column_right_most:hover{background-color:#093;}

div.spacer{clear:both; height:10px; display:block;}

#footer{width:auto; height:40px; display:block; padding:10px 0; font-size:11px; color:#666666;background-color:#093}
